@import './variables/_variables';

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 7.2% 0% 2%;
  margin: 1% 0%;
  button {
    border: none;
    outline: none;
  }

  .left_header {
    display: flex;
    p {
      margin: 0px 15px;
    }
    button {
      background-color: white;
    }
    img {
      cursor: pointer;
    }
    div {
      display: flex;
      cursor: pointer;
      border: 2px solid $primary-color;
      border-radius: 4px;
      padding: 8px 8px;
      margin-left: 40px;
      img {
        margin-left: 20px;
      }
      
    }
  }
  .right_header {
    display: flex;

    .createbtn {
      display: flex;
      padding: 10px 12px;
      justify-content: center;
      cursor: pointer;
      color: white;
      background-color: $primary-color;
      border-radius: 8px;
      margin-right: 10px;
      font-size: 16px;
      img {
        margin-right: 10px;
      }
    }
    .select_dropdown {
      width: 100px;
      position: relative;

      select {
        cursor: pointer;
        height: 40px;
        padding: 8px 15px;
        line-height: 18px;
        font-size: 16px;
        width: 100%;
        border: 2px solid $primary-color;
        border-radius: 4px;
        appearance: none;

        // &:after {
        //   content: '';
        //   position: absolute;
        //   right: 8px;
        //   top: 50%;
        //   margin-top: -5px;
        //   border-top: 8px solid $primary-color;
        //   border-left: 6px solid transparent;
        //   border-right: 6px solid transparent;
        //   pointer-events: none;
        // }
      }
    }
  }
}
