$primary-color: #6366F1;
$primary-light: #EEF2FF;
$primary-light2: #E0E7FF;
$primary-light3: #6B7280;
$primary-dark: #151b50;
$secondary-light: #FFD8C2;
$secondary-dark: #752F08;
$gray-color: #4B5563;
$background: #F9FAFB;
$font-family: 'Ubuntu', sans-serif;